In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import xgboost as xgb
import requests
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot as plt
%matplotlib inline

In [42]:
df = pd.read_csv('CreditScoring.csv')
df.columns = df.columns.str.lower()

In [43]:
df

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,2,1,1,60,39,2,1,1,69,92,0,0,900,1020
4451,1,22,2,60,46,2,1,1,60,75,3000,600,950,1263
4452,2,0,2,24,37,2,1,2,60,90,3500,0,500,963
4453,1,0,1,48,23,1,1,3,49,140,0,0,550,550
4454,1,5,2,60,32,2,1,3,60,140,4000,1000,1350,1650

In [41]:
marital_values = {
    1: 'single',
    2: 'married',
    3: 'widow',
    4: 'separated',
    5: 'divorced',
    0: 'unk'
}

records_values = {
    1: 'no',
    2: 'yes',
    0: 'unk'
}

job_values = {
    1: 'fixed',
    2: 'partime',
    3: 'freelance',
    4: 'others',
    0: 'unk'
}

## Legend

â€¢ Status â€” whether the customer managed to pay back the loan (1) or not (2) \
â€¢ Seniority â€” job experience in years \
â€¢ Home â€” the type of homeownership: renting (1), a homeowner (2), and others. \
â€¢ Time â€” period planned for the loan (in months). \
â€¢ Age â€” the age of the client. \
â€¢ Marital [status] â€” single (1), married (2), and others. \
â€¢ Records â€” whether the client has any previous records: no (1), yes (2)2. \
â€¢ Job â€” the type of job: full-time (1), part-time (2), and others.\
â€¢ Expenses â€” how much the client spends per month.\
â€¢ Income â€” how much the client earns per month.\
â€¢ Assets â€” the total worth of all the assets of the client.\
â€¢ Debt â€” the amount of credit debt.\
â€¢ Amount â€” the requested amount of the loan.\
â€¢ Price â€” the price of an item the client wants to buy.\

In [44]:

df.status.value_counts()

1    3200
2    1254
0       1
Name: status, dtype: int64

In [49]:
for m in [4, 5, 6]:
    print('depth: %s' % m)
    for s in [1, 5, 10, 15, 20, 50, 100, 200]:
        dt = DecisionTreeClassifier(max_depth=m, min_samples_leaf=s)
        dt.fit(X_train, y_train)
        y_pred = dt.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, y_pred)
        print('%s -> %.3f' % (s, auc))
    print()

depth: 4

NameError: name 'DecisionTreeClassifier' is not defined